body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("../img/안들린다.jpg");
  background-repeat: round;
  background-color: #ffd8d8;
  width: 100%;
  height: 100%;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #edbcbc;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#test{
  text-align: center;
}